/* src/pages/Procurement/Procurement.module.css */
.procurementContainer {
  padding: 1rem;
}

.procurementList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.procurementCard {
  flex: 1 1 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1rem;
  min-width: 250px;
}
